.Compose {
  position: absolute;
  bottom: 0;
  right: 70px;
  min-width: 500px;
  border-radius: 10px 10px 0px 0px;
  overflow: hidden;
  box-shadow: 0px 0px 8px rgba(51 51 51/59%);
  background-color: #fff;
}
.compose-header {
  display: flex;
  justify-content: space-between;
  color: #fff;
  background: #333;
  align-items: center;
  padding: 7px 15px;
}
.compose-header-left {
  display: flex;
  align-items: center;
}
.compose-header-left span {
  font-size: 15px;
}
.compose-header-right {
  display: flex;
  align-items: center;
}
.compose-header-right:hover {
  cursor: pointer;
}
.compose-header-right svg {
  font-size: 18px;
  margin-left: 10px;
  transition: 0.2s linear 0s;
  padding: 3px;
}
.compose-header-right svg:nth-child(2) path {
  transform: rotate(45deg);
  transform-origin: center;
}
.compose-header-right svg:hover {
  background: #545454;
}
.compose-body {
  display: flex;
}
.body-form {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.body-form input,
textarea {
  width: 100%;
  outline: none;
  height: 40px;
  border: 0px;
  box-shadow: inset 0 -1px 0 0 rgb(100 121 143/12%);
  padding: 0px 10px;
}
.body-form textarea {
  height: auto;
}

.compose-footer {
  display: flex;
  justify-content: space-between;
  padding: 12px 10px;
}
.compose-footer-left button {
  display: flex;
  align-items: center;
  cursor: pointer;
  border: 0;
  background-color: #297be6;
  outline: 0;
  color: #fff;
  font-size: 15px;
  padding: 0px 0px 0px 15px !important;
  border-radius: 4px;
  letter-spacing: 1px;
}
.compose-footer-left button svg {
  border-left: 1px solid #00000052;
  margin-left: 15px;
  padding: 7px 2px 6px 2px;
}
.compose-footer-right svg {
  font-size: 20px;
  margin-left: 10px;
  border-radius: 3px;
  color: gray;
  padding: 3px;
  transition: 0.2 linear 0s;
  cursor: pointer;
}
.compose-footer-right svg:hover {
  background-color: #eee;
  color: #000;
}
