.emaillist {
  display: flex;
  flex-direction: column;
}
.settings {
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  justify-content: space-between;
  border-bottom: 1px solid whitesmoke;
}
.settings svg {
  font-size: 18px;
}
.emailright {
  display: flex;
  align-items: center;
}
.emailright p {
  font-size: 13px;
}

.type {
  display: flex;
  align-items: center;
  border-bottom: 1px solid whitesmoke;
}
.type > .emailoptions {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 230px;
  padding: 13px 10px;
  cursor: pointer;
  border-bottom: 3px solid #fff;
}
.type > .emailoptions svg {
  font-size: 20px;
  color: gray;
  margin-right: 10px;
}
.type > .emailoptions p {
  font-size: 15px;
  color: gray;
}
.type > .emailoptions:hover {
  background-color: whitesmoke;
}
.emailactive {
  border-bottom: 3px solid #d93025 !important;
}
.emailactive p,
.emailactive svg {
  color: #d93025 !important;
  font-weight: bold;
}

.emailBody {
  display: flex;
  align-items: center;
  border-bottom: 2px solid rgb(227, 222, 222);
  padding: 10px;
  height: 40px;
  transition: all ease-in 100ms;
}
.emailBody:hover {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  cursor: pointer;
}
.emailBody:active {
  background-color: whitesmoke;
}
.emailBody .emailBody-left {
  display: flex;
  align-items: center;
  min-width: 300px;
  flex: 20%;
}
.emailBody .emailBody-left svg {
  font-size: 18px;
  color: gray;
  margin-right: 15px;
}
.emailBody .emailBody-left h4 {
  font-size: 14px;
}
.emailBody .emailBody-middle {
  display: flex;
  align-items: center;
  flex: 90%;
}
.emailBody .msg {
  display: flex;
  width: 90%;
}
.emailBody .emailBody-middle p {
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0px 20px;
  padding-left: 30px;
  max-width: 700px;
}
.emailBody .emailBody-right {
  display: flex;
  align-items: center;
  flex: 10%;
  justify-content: flex-end;
}
.emailBody .emailBody-right p {
  font-size: 12px;
  font-weight: 600;
}
.nodata {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.nodata h4 {
  font-size: 25px;
}

.EmailDetail {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  /* background-color: white; */
  display: flex;
  align-items: center;
  justify-content: center;
  /* opacity: 50%; */
  background-color: rgba(0, 0, 0, 0.1);
}

.emailDetailBox {
  /* opacity: 100%; */
  background-color: white;
  height: 60vh;
  width: 60vw;
}

.UserData .MuiAvatar-root {
  width: 35px;
  height: 35px;
}
.UserData {
  display: flex;
  align-items: center;
  gap: 4px;
}

.EmailDetail-header {
  display: flex;
  align-content: center;
  justify-content: space-between;
  border-bottom: 2px solid whitesmoke;
  padding: 0px 15px;
}
.EmailDetail-header-left {
  display: flex;
  align-items: center;
}
.EmailDetail-header svg {
  font-size: 18px;
}
.EmailDetail-middle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid whitesmoke;
}
.EmailDetail-middle-left {
  display: flex;
  align-items: center;
}
.mailName {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.EmailDetail-middle-right {
  display: flex;
  align-items: center;
}
.EmailDetail-middle svg {
  font-size: 18px;
}
.EmailDetail-middle-left h4 {
  margin-right: 10px;
}
.EmailDetail-middle-left p {
  font-size: 14px;
}
.EmailDetail-middle-right p {
  font-size: 14px;
}
.EmailDetail-body {
  display: flex;
  margin-left: 1rem;
}
.EmailDetail-msg {
  box-shadow: 0px 0px 30px #cce;
  height: 100%;
}

.closeButton {
  top: 16%;
  right: 16%;
  position: absolute;
  cursor: pointer;
}

.UserDataSm {
  display: none;
}

@media only screen and (max-width: 600px) {
  .settings {
    display: none;
  }
  .type {
    display: none;
  }
  .emailBody .emailBody-left {
    display: none;
  }
  .emailBody .msg {
    display: none;
  }
  .UserDataSm {
    display: flex;
    align-items: start;
    gap: 12px;
  }
  .emailBody {
    width: 100vw;
  }
  .mailDetails {
    display: flex;
    flex-direction: column;
  }
  .mailDetails h5 {
    font-size: 14px;
  }
  .mailDetails h5 {
    color: rgb(76, 74, 74);
    font-size: 14px;
    font-weight: 700;
  }
  .emailBody .emailBody-right {
    flex: 20%;
  }
  .emailDetailBox {
    height: 60vh;
    width: 90vw;
  }
  .closeButton {
    top: 17%;
    right: 4%;
  }
  .EmailDetail-middle-right {
    padding-right: 14px;
  }
  .EmailDetail-middle-right .smHidden {
    display: none;
  }
}
