.header {
  display: grid;
  grid-template-columns: 250px auto 200px;
  height: 50px;
  align-items: center;
  border-bottom: 1px solid whitesmoke;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}
.left {
  display: flex;
  align-items: center;
}
.middle {
  display: flex;
  flex: 0.7;
}
.search {
  background-color: whitesmoke;
  border-radius: 10px;
  display: flex;
  flex: 0.7;
}
.middle input {
  border: 0;
  background: transparent;
  outline: 0;
  flex: 1;
  font-size: 15px;
  letter-spacing: 1px;
}
.right {
  display: flex;
  align-items: center;
}
.right .MuiAvatar-root {
  height: 30px;
  width: 30px;
}

.mobileViewSidebar {
  display: none;
}

@media only screen and (max-width: 600px) {
  .header {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .right .MuiAvatar-root {
    height: 40px;
    width: 40px;
  }
  .search {
    display: none;
  }
  .header .hiddenSm {
    display: none;
  }
  .mobileViewSidebar {
    width: 100vw;
    height: 100vh;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    background: white;
    z-index: 10000;
    overflow: hidden;
  }
  .mobileViewSidebar .sidebarOptions {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .mobileViewSidebar .sidebarOptions .options {
    padding: 20px 120px;
    > h4 {
      font-size: 20px;
    }
  }
  .mobileViewSidebar .composeBtn {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .mobileViewSidebar .area {
    display: flex;
    width: 100vw;
    justify-content: end;
  }
}
